html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/david-marcu-78A265wPiO4-unsplash.jpg");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 100% 7%; */
  font-family: Optima, sans-serif;
  overscroll-behavior: none;
  /* background-blend-mode: exclusion;
  background-color: #1f0101; */
  background-color: #78799a38;
  background-blend-mode: hard-light;
  background-position-x: 63%;
}

a {
  text-decoration: none;
}

div.nav_background {
  width: 100%;
  background: #2e5252;
  display: flex;
  align-items: center;
  color: white;
  height: 63px;
}

nav {
  display: flex;
  /* margin-right: 200px; */
  z-index: 1;
  /* border-bottom: 1px solid rgb(0, 0, 0, 0.7); */
}

audio {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li,
nav ul li a {
  margin: 0 15px;
  font-size: 25px;
  transition: 0.25s;
}

nav ul li:hover,
nav ul li a:hover {
  /* font-size: 28px; */
  text-shadow: 0 1px 1px rgb(45, 45, 45);
  cursor: pointer;
  color: #955f27;
}

nav ul li a {
  color: white;
}

.hero {
  height: 100%;
  background-color: blue;
}

.hero-image {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
}

.max-width-container {
  width: 100%;
  height: 100%;
  max-width: 73%;
}

#welcome .welcome-section-max-width {
  max-width: 76%;
}

.hero-image h2 {
  animation: fade-in;
  font-size: 2rem;
  font-weight: 400;
  filter: drop-shadow(2px 4px 4px black);
  color: white;
}

.banner-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-image .banner {
  position: absolute;
  top: 26%;
}

/* body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  /* transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1); */
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 4.5rem;
  /* color: rgb(36, 31, 31); */
  text-shadow: 0px 5px 120px white;
  filter: drop-shadow(2px 4px 4px black);
  color: white;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

#welcome {
  display: flex;
  justify-content: center;
}

.one {
  background: beige;
  padding: 30px;
  padding-bottom: 3%;
}

.one h2,
#services h2 {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 40px;
  font-weight: 200;
}

section.one .container {
  padding: 0 60px;
  position: relative;
}

.phone_number_centering_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.phoneNumber_and_CTAwrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.CTA_button {
  text-align: center;
  bottom: 0%;
  border: none;
  background-color: #955f27;
  color: white;
  font-size: 1.3rem;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.phone_number {
  background-color: rgb(255, 255, 233);
  width: fit-content;
  height: fit-content;
  font-size: 22px;
  border: 2px solid #955f27;
}

.phoneNumberClickableArea {
  width: fit-content;
  height: fit-content;
  padding: 50px;
}

.phone_number a:hover {
  cursor: pointer;
  color: blue;
}

.left,
.right {
  max-width: 50%;
}

.image-wrapper {
  width: 300px;
  height: 450px;
  float: left;
  background-image: url("images/3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-right: 30px;
}

.one .container p {
  font-size: calc(15px + 0.390625vw);
  padding: 50px;
  line-height: 123%;
}

#services {
  background-color: rgb(255, 255, 233);
  padding-top: 60px;
  /* background: beige; */
  padding: 30px;
}

#services h2 {
  text-align: center;
  margin-bottom: 68px;
}

.two {
  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
  gap: 30px;
  /* width: 100%; */
}

/* 100% width needed here, but then it makes the spacing of other elements to small. Something is off here */

.text-container {
  text-align: center;
}

.text-container button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  margin-top: 3.5rem;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(230%);
  border-radius: 2px;
  font-weight: 500;
  font-size: 1.05rem;
}

.pic4 .text-container button,
.pic2 .text-container button,
.pic3 .text-container button {
  margin-top: 1.875rem;
}

.text-container p {
  color: white;
  font-size: 16px;
  line-height: 2;
}

.services {
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.pic1 {
  background-image: url("images/rowan-kyle-smaS_Uxg4L0-unsplash.jpg");
  background-size: cover;
  background-position-y: 45%;
  max-width: 290px;
}

.pic2 {
  background-image: url("images/073_Qi2-copy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pic3 {
  background-image: url("images/le-minh-phuong-niH7Z81S44g-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pic4 {
  background-image: url("images/massage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  background-color: transparent;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.overlay-blur {
  backdrop-filter: blur(5px);
}

.overlay h2 {
  color: white;
  margin-top: 60px;
  font-size: 50px;
  font-family: Optima, sans-serif;
  font-weight: 500;
  transition: 0.2s;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover > * {
  transform: translateY(0);
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover button {
  opacity: 1;
  /* transition-delay: 0.7s; */
  transform: none;
}

.overlay button:hover {
  background-color: white;
  color: black;
}

section.three {
  color: transparent;
}

#contact {
  width: 100%;
  padding: 100px 0px 50px 0px;
  background: #2e5252;
  display: flex;
  justify-content: center;
}

#contact .contact-max-width {
  max-width: 85%;
}

#contact .max-width-container .contact-section-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .contact-section-flex-container .left,
#contact .contact-section-flex-container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 410px;
}

#contact .contact-section-flex-container .left {
  /* border: 1px solid aqua; */
  width: 100%;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#contact .contact-section-flex-container .left h2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-top: 0;
  font-size: 32px;
}

#contact .contact-section-flex-container .left p {
  margin: 10px 0px;
  font-size: calc(15px + 0.390625vw);
}

#contact .contact-section-flex-container .left p a {
  color: white;
}

.contact-section-flex-container .right {
  /* border: 1px solid coral; */
  width: 100%;
}
