body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  background-image: url("images/david-marcu-78A265wPiO4-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 8rem;
  color:rgb(36, 31, 31);
  text-shadow: 0px 5px 120px white;
}

.one, .two {
  background: beige;
  padding: 30px;
}

.one h2 {
  text-align: center;
  font-family: cursive;
  margin: 0px, 0px, 20px, 0px;
  font-size: 40px;
}

.one .container {
  display: flex;
  flex-wrap: wrap;
}

.left, .right {
  max-width: 50%;
}

.two {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 233);
  padding-top: 60px;
}

.services {
  width: 400px;
  height: 400px;
}

 .pic1 {
  background-image: url("images/rowan-kyle-smaS_Uxg4L0-unsplash.jpg");
  background-size: cover;
  background-position-y: 45%;
  max-width: 290px;
}
 
.pic2 {
  background-image: url("images/073_Qi2-copy.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pic3 {
  background-image: url("images/le-minh-phuong-niH7Z81S44g-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
   background-position: center;
}

.three {
  background-color: transparent;
}