.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

i.display-none {
  display: none;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
